body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(
    315deg,
    #06070a 2%,
    #06080c 30%,
    rgb(1, 1, 20) 100%,
    rgba(15, 15, 30, 0.5) 100%
  );
  animation: gradient 10s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}
@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@keyframes change {
  0% {
    background-image: url(/src/assets/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  25% {
    background-image: url(/src/assets/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  50% {
    background-image: url(/src/assets/bg3.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  75% {
    background-image: url(/src/assets/bg4.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  100% {
    background-image: url(/src/assets/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #06070a;
}

*::-webkit-scrollbar-thumb {
  background-color: #6c86ad;
  border-radius: 20px;
}

.logo {
  letter-spacing: 2.5%;
  font-weight: bold;
  text-decoration: none;
  font-size: 30px;
  color: #fff;
}

.icon {
  font-size: 25px;
  font-weight: bolder;
  margin-top: -10px;
  color: #fff;
  margin-left: 180px;
  margin-right: 12px;
}
.tab {
  margin-top: -29%;
}

input[type="text"] {
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 30rem;
}

.custom-input {
  padding: 10px;
  font-size: 16px;
  float: left;
}

.custom-input:focus {
  outline: none;
}

.custom-select:focus {
  outline: none;
}
:root {
  --mainColor: #29335c;
  --mainColorLight: #5767aa;
  --secondaryColor: #db2b39;
  --textColor: #eee;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color: transparent;
  color: var(--textColor);
}

nav a {
  margin: 0 1rem;
  color: var(--textColor);
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: rgba(47, 138, 245, 0.4);
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

header div,
nav {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  header nav {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: #000;
    transition: 1s;
  }

  header .responsive_nav {
    transform: translateY(100vh);
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.conn-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.3rem;
  background-color: rgba(47, 138, 245, 0.16);
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.hero .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 5rem auto;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.hero .left {
  padding: 1rem;
}

.hero h1 {
  padding: 1rem 0;
  font-size: 3.5rem;
  font-weight: 600;
  color: #fff;
}

.hero p {
  padding: 1rem 0;
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
}

.hero .right {
  padding: 1rem;
}

.hero .img-container {
  width: 100%;
  display: flex;
}
.token-swap-button{
  background-color: rgba(47, 138, 245, 0.16);
    color: #2f8af5;
    font-weight: 600;
    font-size: 20px;
    padding: 15px;
    width: 95%;
    margin: 0 auto;
    margin-top: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.hero img {
  max-width: 100%;
  margin: auto;
}

@media screen and (max-width: 940px) {
  .hero .container {
    grid-template-columns: 1fr;
    margin: 1rem 0;
  }
  .hero .img-container {
    display: none;
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .table-responsive {
    overflow-x: auto;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .table-responsive tr {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .table-responsive td {
    width: 100%;
    display: block;
    text-align: left;
  }
}

.gear {
  float: right;
  font-size: 22px;
  color: #fff;
}

.input:hover {
  border: #000;
}
